<div id="content" ng-controller='MainController as ctrl'>
  <!-- heading -->
  <div id="heading" class="row">
    <h1 class="title center">Othello</h1>
  </div>

  <h2 class="center">Player {{game.playerOneTurn ? '1' : '2'}}'s Turn</h2>

    <div class="grid-container">
      <div class="grid-row" ng-repeat="tiles in game.grid">
        <div class="grid-tile" ng-repeat="tile in tiles.tiles">
          <svg class="grid-cell-circle" ng-class="{'noFill': tile.isEmpty, 'availableBlack': (game.playerOneTurn && tile.isAvailableMove), 'availableWhite': (!game.playerOneTurn && tile.isAvailableMove)}" tile xindex="tile.xPosition" yindex="tile.yPosition" click-tile="ctrl.move">
            <circle ng-class="{ 'whiteFill': tile.isWhite, 'blackFill': tile.isBlack }" cx="30" cy="30" r="28"/>
          </svg>
        </div>
      </div>
    </div>
</div>
