/** Variables **/

$black: #000;
$white: #fff;
$boardGreen: #339933;
$boardBackground: #f3e2c7;
$boardWidth: 522px;
$centerMargin: 10px auto;
$statsBox: #cbb999;

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: $black;
}

body, p, label {
  font-family: "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 12pt;
}

.grid-container {
  width: 482px;
  margin: 0 auto;
  padding: 0;
  border: $black solid 1px;
}

.grid-row {
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 1;
  font-size: 12pt;
}

.grid-tile {
  display: inline-block;
  border: 1px solid $black;
  width: 60px;
  height: 60px;
  background-color: $boardGreen;
}

.grid-cell-circle {
  width: 60px;
  height: 60px;
}

.center {
  text-align: center;
}

.title {
  font-size: 36pt;
}

.whiteFill {
  fill: $white;
  stroke: $white;
}

.blackFill {
  fill: $black;
  stroke: $black;
}

.noFill > circle {
  fill: none;
  stroke: none;
}

svg.availableBlack {
  &:hover > circle {
    fill: rgba(28, 28, 28, 0.5);
    stroke: $black;
    visibility: visible;
  }
}

svg.availableWhite {
  &:hover > circle {
    fill: rgba(222, 222, 222, 0.5);
    stroke: #CCC;
    visibility: visible;
  }
}

.boardBody {
	background: $boardBackground;
	width: $boardWidth;
	padding: 20px;
	border-radius: 10px;
}

.board {
	margin: $centerMargin;
	width: $boardWidth;
	border-radius: 10px;
}

.instructions {
  margin: $centerMargin;
  width: $boardWidth;
  background-color: $white;
  padding: 10px;
  border-radius: 5px;
}

.score {
  color: red;
  background-color: #6D7F00;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.right {
  float: right;
}

.stats {
  background-color: $statsBox;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  h2 {
    color: #7F5200;
  }
}

.button, .button:active, .button:visited {
  background-color: #fff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEFEFEF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(73%, #f7f7f7), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  border: 1px solid rgba(52, 73, 94, 0.2);
  color: #474747;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  text-decoration: none;
  cursor: default;
}

.button:hover {
  @extend .button;
  color: #474747;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(73%, #efefef), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  border-color: rgba(52, 73, 94, 0.3);
  -webkit-box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
  -moz-box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
  box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
}
