/** Variables **/

$black: #000;
$white: #fff;
$boardGreen: #339933;

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: $black;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.grid-container {
  width: 482px;
  margin: 0 auto;
  padding: 0;
  border: $black solid 1px;
}

.grid-row {
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 1;
  font-size: 12pt;
}

.grid-tile {
  display: inline-block;
  border: 1px solid $black;
  width: 60px;
  height: 60px;
  background-color: $boardGreen;
}

.grid-cell-circle {
  width: 60px;
  height: 60px;
}

.center {
  text-align: center;
}

.title {
  font-size: 36pt;
}

.whiteFill {
  fill: $white;
  stroke: $white;
}

.blackFill {
  fill: $black;
  stroke: $black;
}

.noFill > circle {
  fill: none;
  stroke: none;
}

svg.availableBlack {
  &:hover > circle {
    fill: rgba(28, 28, 28, 0.5);
    stroke: #474;
    visibility: visible;
  }
}

svg.availableWhite {
  &:hover > circle {
    fill: rgba(222, 222, 222, 0.5);
    stroke: #CCC;
    visibility: visible;
  }
}

.boardBody {
	background: #f3e2c7; 
	width: 522px;
	padding: 20px;
	border-radius: 10px;
}

.board {
	margin: 0 auto;
	width: 522px;
	border-radius: 10px;
}
